<?xml version="1.0"?>
<config>
    <modules>
        <QM_SeoCatalog>
            <version>0.1.1</version>
        </QM_SeoCatalog>
    </modules>
    <global>
        <resources>
            <qmseocatalog_setup>
                <setup>
                    <module>QM_SeoCatalog</module>
                    <class>QM_SeoCatalog_Model_Resource_Setup</class>
                </setup>
            </qmseocatalog_setup>
        </resources>
        <blocks>
            <qmseocatalog>
                <class>QM_SeoCatalog_Block</class>
            </qmseocatalog>
        </blocks>
        <helpers>
            <qmseocatalog>
                <class>QM_SeoCatalog_Helper</class>
            </qmseocatalog>
        </helpers>
        <models>
            <qmseocatalog>
                <class>QM_SeoCatalog_Model</class>
            </qmseocatalog>
            <catalog>
                <rewrite>
                    <category>QM_SeoCatalog_Model_Category</category>
                </rewrite>
            </catalog>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <qmseocatalog>
                    <file>qmseocatalog.xml</file>
                </qmseocatalog>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_SeoCatalog>
                    <files>
                        <default>QM_SeoCatalog.csv</default>
                    </files>
                </QM_SeoCatalog>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <QM_SeoCatalog>
                    <files>
                        <default>QM_SeoCatalog.csv</default>
                    </files>
                </QM_SeoCatalog>
            </modules>
        </translate>
    </adminhtml>
</config>
