<?xml version="1.0"?>

<config>
    <modules>
        <QM_Banners>
            <version>1.4.2</version>
        </QM_Banners>
    </modules>
    <global>
        <resources>
            <qm_banners_setup>
                <setup>
                    <module>QM_Banners</module>
                    <class>QM_Banners_Model_Resource_Setup</class>
                </setup>
            </qm_banners_setup>
        </resources>
        <blocks>
            <qm_banners>
                <class>QM_Banners_Block</class>
            </qm_banners>
        </blocks>
        <helpers>
            <qm_banners>
                <class>QM_Banners_Helper</class>
            </qm_banners>
        </helpers>
        <models>
            <qm_banners>
                <class>QM_Banners_Model</class>
                <resourceModel>qm_banners_resource</resourceModel>
            </qm_banners>
            <qm_banners_resource>
                <class>QM_Banners_Model_Resource</class>
                <entities>
                    <banner>
                        <table>qm_banners_banner</table>
                    </banner>
                    <banner_store>
                        <table>qm_banners_banner_store</table>
                    </banner_store>
                    <render>
                        <table>qm_banners_render</table>
                    </render>
                    <image>
                        <table>qm_banners_image</table>
                    </image>
                </entities>
            </qm_banners_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <qm_banners>
                    <file>qm_banners.xml</file>
                </qm_banners>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_Banners>
                    <files>
                        <default>QM_Banners.csv</default>
                    </files>
                </QM_Banners>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <QM_Banners before="Mage_Adminhtml">QM_Banners_Adminhtml</QM_Banners>
                    </modules>
                </args>
            </adminhtml>
            <qm_banners>
                <use>admin</use>
                <args>
                    <module>QM_Banners</module>
                    <frontName>qm_banners</frontName>
                </args>
            </qm_banners>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <qm_banners>
                    <file>qm_banners.xml</file>
                </qm_banners>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_Banners>
                    <files>
                        <default>QM_Banners.csv</default>
                    </files>
                </QM_Banners>
            </modules>
        </translate>
    </frontend>
    <default>
        <qm_banners>

        </qm_banners>
    </default>
</config>
