<?xml version="1.0"?>
<config>
    <modules>
        <QM_Core>
            <version>0.8.1</version>
        </QM_Core>
    </modules>
    <global>
        <models>
            <qmcore>
                <class>QM_Core_Model</class>
            </qmcore>
            <core>
                <rewrite>
                    <layout>QM_Core_Model_Core_Layout</layout>
                    <store>QM_Core_Model_Core_Store</store>
                </rewrite>
            </core>
            <!-- <catalog>
                <rewrite>
                    <product_url>QM_Core_Model_Catalog_Product_Url</product_url>
                </rewrite>
            </catalog> -->
            <catalog>
                <rewrite>
                    <product_image>QM_Core_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <qmcore>
                <class>QM_Core_Block</class>
            </qmcore>

            <page>
                <rewrite>
                    <html_head>QM_Core_Block_Page_Html_Head</html_head>
                    <html_header>QM_Core_Block_Page_Html_Header</html_header>
                    <html_footer>QM_Core_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <qmcore>
                <class>QM_Core_Helper</class>
            </qmcore>

            <adminhtml>
                <rewrite>
                    <data>QM_Core_Helper_Adminhtml_Data</data>
                </rewrite>
            </adminhtml>

            <catalog>
                <rewrite>
                    <image>QM_Core_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <qmcore_setup>
                <setup>
                    <module>QM_Core</module>
                </setup>
            </qmcore_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <qmcore>
                    <file>qmcore.xml</file>
                </qmcore>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <qmcore_prepare_layout_before>
                        <class>qmcore/observer</class>
                        <method>prepareLayoutBefore</method>
                    </qmcore_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <controller_action_layout_load_before>
                <observers>
                    <qmcore_action_layout_load_before>
                        <class>qmcore/observer</class>
                        <method>layoutLoadBefore</method>
                    </qmcore_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <qmcore>
                    <file>qmcore.xml</file>
                </qmcore>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
        </dev>
        <general>
            <file>
                <!-- Use any name for google sitemap -->
                <sitemap_generate_valid_paths>
                    <available>
                        <any_path>/*</any_path>
                    </available>
                </sitemap_generate_valid_paths>
            </file>
        </general>
        <qmcore>
            <catalog_image_style>
                <background_hex>#FFFFFF</background_hex>
            </catalog_image_style>
            <add_js>
                <js_files>
                    <![CDATA[{"value":"jquery/jquery-1.10.2.min.js","selected":true},{"value":"jquery/jquery.noconflict.js","selected":true},{"value":"jquery/jquery-migrate-1.2.1.min.js","selected":true},{"value":"jquery/jquery-ui-1.10.4.min.js","selected":true},{"value":"jquery/floating-popup.js","selected":true},{"value":"jquery/jquery.mask.min.js","selected":true},{"value":"jquery/jquery.mousewheel.min.js","selected":true},{"value":"jquery/jquery.fancybox.pack.js","selected":true},{"value":"jquery/jquery.bxslider.min.js","selected":true},{"value":"jquery/jquery.chosen.min.js","selected":true},{"value":"jquery/local.js","selected":true}]]>
                </js_files>
            </add_js>
            <add_css>
                <css_files>
                    <![CDATA[,smoothness/jquery-ui-1.10.4.min.css,fancybox/jquery.fancybox.css,chosen/chosen.css,floating-popup/styles.css,bxslider/jquery.bxslider.css,]]>
                </css_files>
            </add_css>
        </qmcore>
    </default>
</config>