.owl-top-narrow #category-slider-demo-7 .owl-controls {
    right: -2px
}

@-webkit-keyframes tooltip-animation {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@keyframes tooltip-animation {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-webkit-keyframes tooltip-color {
    0%, to {
        color: #fff
    }
    50% {
        color: #333
    }
}

@keyframes tooltip-color {
    0%, to {
        color: #fff
    }
    50% {
        color: #333
    }
}

@-webkit-keyframes tooltip-color-white {
    0%, to {
        color: #444
    }
    50% {
        color: #fff
    }
}

@keyframes tooltip-color-white {
    0%, to {
        color: #444
    }
    50% {
        color: #fff
    }
}

.footer .demo-tooltip, .header .demo-tooltip {
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 9;
    width: 20px
}

.footer .demo-tooltip {
    top: -20px
}

a.tooltip-icon {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-animation: tooltip-animation 1s ease-in infinite;
    -moz-animation: tooltip-animation 1s ease-in infinite;
    -ms-animation: tooltip-animation 1s ease-in infinite;
    animation: tooltip-animation 1s ease-in infinite
}

.header-container.type2 a.tooltip-icon, .header-container.type3 a.tooltip-icon, .header-container.type4 a.tooltip-icon, .header-container.type5 a.tooltip-icon, .header-container.type6 a.tooltip-icon, .header-container.type7 a.tooltip-icon, .header-container.type8 a.tooltip-icon {
    color: #000;
    border-color: #000
}

.tooltip-popup {
    position: absolute;
    right: -10px;
    top: 30px;
    width: 300px;
    background-color: #111;
    box-shadow: 0 0 8px rgba(255, 255, 255, .5);
    padding: 20px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    text-align: left
}

.tooltip-popup h4 {
    font-size: 16px;
    color: #fff
}

.tooltip-popup p {
    margin-bottom: 10px;
    color: #fff
}

.tooltip-popup em {
    font-size: 10px
}

a.tooltip-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff
}

.footer-middle > .container {
    position: relative
}

.homepage-bar .row > div, a.search-icon {
    text-align: center
}

a.search-icon {
    display: none;
    width: 25px
}

@media (max-width: 991px) {
    .header-container.type3 .header .form-search {
        position: absolute;
        right: -10px;
        top: 45px;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc
    }

    a.search-icon {
        display: block
    }

    .header-container.type3 .header .form-search:before {
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        top: -22px;
        width: 20px;
        height: 20px;
        border: 10px solid transparent;
        border-bottom-color: #ccc
    }

    .homepage-bar .row > div {
        text-align: left
    }

    .homepage-bar .row > div > i {
        margin-left: 7px
    }

    .icon-dollar:before {
        margin: 0 .4em
    }
}

@media (max-width: 560px) {
    .header-container.type3 .header .form-search {
        right: -69px
    }

    .header-container.type3 .header .form-search:before {
        right: 62px
    }
}

@media (max-width: 360px) {
    .header-container.type3 .header .form-search {
        right: -69px
    }

    .header-container.type3 .header .form-search:before {
        right: 62px
    }
}

@media (max-width: 340px) {
    .header-container.type3 .header .form-search {
        width: 280px
    }
}

.my-account .product-image img {
    max-width: none
}

.footer-logo {
    width: 170px
}

.footer-logo img {
    max-width: 100%
}

.sp-methods-additional .form-list li {
    margin-bottom: 0
}

.sp-methods-additional .form-list label {
    font-size: 13px;
    margin: 10px 0 5px
}

.shipping-methods {
    max-height: none !important
}

.shipping-methods li label {
    display: inline
}

.shipping-methods .sp-methods {
    margin: 0 !important
}

/*###############################################################*/
/*########## Styles by Max.A ####################################*/
/*###############################################################*/

script#bx24_form_button {
    display: none;
}

/* Footer */
.footer-socials a {
    display: inline-block;
    margin-right: 5px;
    width: 26px;
    /*height: 24px;*/
}

.footer .copyright {
    color: #eee;
}

.footer-bottom .custom-block {
    margin-left: 78px;
}


@media only screen and (max-width: 1199px) {

    .footer-bottom .custom-block {
        margin-left: 30px;
    }
}

.parallax-slider {
}

.parallax {
    background-size: auto 100% !important;
}

.footer-middle ul.links li {
    padding: 0 0 0 0;
    margin: 10px 0;
}

.footer-middle ul.links li i {
    position: absolute;
    z-index: 20;
    top: 3px;
    left: 0;
    margin-left: -5px;
}

.footer-middle ul.links a {
    line-height: normal;
    display: block;
    margin-left: 13px;
}

.block.block-subscribe {

}

.block.block-subscribe .block-title {
    margin-bottom: 15px;
}

.block-subscribe .block-content {
    padding: 0;
}

.footer-middle .contact-info li:first-child i {
    display: none;
}

.footer-middle .block.block-subscribe .input-box {
    margin-top: 30px;
}


.footer-middle .contact-info b {
    /*color: #fff;*/
    padding-bottom: 2px;
    display: inline-block;
}

.footer-middle p, .footer-middle .contact-info a {
    color: #999;
}

.footer-middle .block.block-subscribe .label {
    font-weight: 700;
}

.footer-middle p, .footer-middle .block.block-subscribe .label, .footer-middle p, .footer-middle .contact-info i {
    color: #aaa;
}

@media only screen and (max-width: 992px) {
    .cms-index-index.cms-home .container .col-md-12.col-sm-6 {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .b24-widget-button-popup.b24-widget-button-popup-show {
        display: none;
    }

    .footer .col-sm-3 {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        padding-bottom: 20px;
        padding-right: 35px;
    }

    .footer-middle .block.block-subscribe .input-box {
        margin-top: 15px;
    }

    .footer-bottom a.logo {
        display: none;
    }

    .footer-middle {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .footer .col-sm-3 {
        width: 100%;
    }
}

/* Product page */
.fancybox-overlay {
    background-image: none;
    background: #000;
    background-color: rgba(0, 0, 0, .65);
}

.product-view .product-img-box .etalage a.big.fancy-images {
    position: static;
    top: auto;
    bottom: auto;
    z-index: auto;
    /*border: 1px solid red;*/

}

.product-view .product-img-box .etalage a.fancy-images {
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.product-img-box .glyphicon-search {
    position: absolute;
    z-index: 49;
    /*top: 88%;*/
    top: auto;
    right: 10px;
    bottom: 8px;
    height: 15px;
}

.product-view .product-img-box .etalage-control {
    z-index: 60;
}
.product-view .product-name h1{
    margin-bottom: 5px;
}
.product-view .no-rating{
    margin-bottom: 10px;
}
h4.sku{
    margin-bottom: 15px;
}