/* General */
.relative {position:relative}

/* Ajax Login */
.popup { background:#fff; border:1px solid #aaa; margin:12px 0 0; position:absolute; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; box-shadow:0 0 6px #ccc; text-align:left; width:300px; z-index:100; }
.popup-heading { background:#d9e5ee; border-bottom:1px solid #ccc; padding:5px 30px 5px 10px; }
.popup-heading h2 { font-size:16px; margin:0; text-shadow:0 1px 0 #f6f6f6; overflow:hidden; white-space:nowrap; word-wrap:break-word; text-align:left; text-overflow:ellipsis; }
.popup-arrow { background:url(../images/popup_arrow.gif) no-repeat; position:absolute; left:77%; top:-10px; height:10px; width:19px; }
.popup-close { background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:8px; right:10px; height:15px; width:15px; text-indent:-9999em; -moz-box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999; box-shadow:0 0 3px #999; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.popup-content { border-top:1px solid #eee; padding:10px; text-align:left; }
#login-popup {right: -100px; top:75px; width: 625px}
.ajax-loader {display: inline-block; background: url(../images/ajax-loader.gif) no-repeat 0 0; width:16px; height:11px; vertical-align: middle; }


.cart .cart-holder {
    width: 90%;
    margin-bottom:50px;
}
.cart .cart-sidebar-holder {
    padding-left: 10px;
}
.left{
    padding-left: 0;
    padding-right:0;
}
.right{
    padding-left:0;
    padding-right:0;
}
.cart{
    padding-right: 0;
    padding-left: 0;
}
.cart .cart-sidebar .totals {
    margin-top: 10px;
    float: none;
    width: auto;
    margin-bottom:25px;
    background-color: #FBFBFB;
}
.cart .cart-sidebar .item {
    position: relative;
    clear: left;
    box-shadow: 0 1px 0px rgba(0,0,0,0.09);
    margin-bottom: 15px;
}
.cart .cart-sidebar .item .remove-link {
    position: absolute;
    right: 0;
    top: 0;
}
.cart .cart-sidebar .item .product-image {
    float: left;
    width: 100px;
    margin-right:15px;
    margin-bottom:5px;
}
.cart .cart-sidebar .item .sku {
    margin: 0;
    margin-bottom: 17px;
}

.item-options{
    margin-left:35px;
}

.cart .cart-sidebar .item .product-content {
    margin: 0 15px 0 80px;
}
.cart .cart-sidebar .item .bill-detail {
    margin-bottom:19px;
    margin-left:32px;
}
.cart .cart-sidebar .item .bill-detail .qty-field {
    display: inline-block;
}
.cart .cart-sidebar .item .bill-detail .price-field {
    display: inline-block;
}
.cart .cart-sidebar .item .bill-detail .delimiter {
    margin: 0 5px;
}
.cart .cart-sidebar .item .bill-detail .qty {
    margin-left: 4px;
    margin-right:25px;
    height: 25px;
}

.cart .discount {
    margin: 10px 0 0;
}
.cart .discount input.input-text {
    width: 90%;
}
.ui-spinner-input.qty {
    border: none;
    padding: 0;
    text-align: center;
}
.cart .cart-sidebar .item .bill-detail .ui-widget {
    font-size: 1em !important;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid #e1e1e1;
    color: #ccc;
    line-height: 29px;
    text-align: center;
    margin-right:23px;
    border-radius: 3px;
    font-size: 8px;
    background: #fff!important;
}

.ui-spinner a.ui-spinner-button{
    left:39px;
}

.sp-methods-holder {
    overflow: hidden;
}
.shipping-methods .sp-methods {
    float: left;
    margin: 0 0 0 10px;
}
.shipping-methods .sp-methods:first-child {
    margin: 0;
}

/* Checkout */
ul.infos-menus li {
    float:left;
}
ul.infos-menus a {
    display: block;
    font-size: 13px;
    color:#000; padding: 5px 15px;
    background:#e8e8e9;
    margin-right: 5px;
    text-decoration: none;
    -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
    -webkit-box-shadow: 0 0 6px #ccc;
    -moz-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
}
ul.infos-menus li.current a {
    background: #fff;
    color: #0076A9;
}

#checkout-block {
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom:15px;
    position:relative;
    zoom:1;
}

.hr {
    border-bottom: 2px solid #989898;
}

#checkout-block .infos-menus li a,
#checkout-block .button{
    font-size:14px !important;
    vertical-align:middle;
}

#checkout-block .tab-cont {
    margin-left: 21px;
    padding-top: 13px;
}

#checkout-block .tab-title {
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

#checkout-block .radio .field {
    height:23px;
    color: #767676;
    font-size: 14px;
    vertical-align:middle;
    margin-bottom:1px;
}

#checkout-block .field {
    margin-bottom: 12px;
}

#checkout-block label {
    display:block;
    min-width:130px;
    font-size: 14px;
    color:#777;
    margin-bottom:10px;
}
#checkout-block label em{
    color:red;
}

#checkout-block .user-general .validation-advice,
#checkout-block .addresses .validation-advice {
    margin-left: 75px;
    display:none;
}

#checkout-block input.postcode {
    width:50px;
    font-size:10px !important;
    height:16px;
}

.input-select {
    width: 259px !important;
}

#checkout-block .row-bottom {
    padding-top:15px;
}

#checkout-block .addresses {
    *margin-top:6px;
}

#checkout-block .addresses .relative {
    zoom:1;
}

#checkout-block .loc-diff-fields select {
    width:150px;
}

#checkout-block input.fake-title {
    font-size:12px !important;
}
input.fake-title.input-loading {
    background-position:135px center!important
}
.hidden-select {
    position:relative;
}

.hidden-select select {
    position:absolute;
    top:0; left:0;
    opacity: 0.001;
    filter:alpha(opacity=1);
}

.hidden-select select, .hidden-select input {
    width: 150px !important;
}
.floating-popup-wrapper{
    display: block!important;
}

#checkout-block .input-text, #checkout-block textarea {
    width: 100%;
    font-size:14px !important;
    height: 38px;
    padding: 10px;
}

#checkout-block textarea {
    height:65px;
    width:100%;
    overflow:auto;
    resize:none;
}


#checkout-block .hidden-tab {
    position:absolute !important;
    top:40px; left:0;
    zoom:1;
}

#checkout-block .overlay {
    position:absolute;
    top:40px; left:0;
    width: 100%; height:85%;
    display:none;
    background: #FFFFFE url(../images/bkg_main2.gif) 0 -65px no-repeat;
    filter:alpha(opacity=60);
    opacity: 0.6;
    z-index:1;
    zoom:1;
}

#checkout-block .hidden-tab .user-general {
    visibility: hidden;
}

#checkout-block .tab-cont {
    position:relative;
    margin-left: 21px;
    padding-top: 13px;
    z-index:1;
}

div.join-address .tab-cont {
    height:244px;
    min-height:244px;
}

div.split-address .tab-cont {
}

div.split-address textarea {
    height: 90px !important;
}

#checkout-block div.login {
    z-index:2;
}

#checkout-block .tab-cont {
    margin-left: 21px;
    padding-top: 13px;
}

#checkout-block .tab-title {
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

#checkout-block .required {
    font-size: 12px;
    text-align: left;
    margin-bottom:8px;
}

#checkout-block .small .input-text {
    width:20px;
}
#checkout-block .buttons {
    text-align: right;
    width: 314px;
    margin-top: 8px;
}

#checkout-block .buttons a {
    display: inline-block;
    font-size: 12px;
    color:#767676;
    margin-right: 10px;
    vertical-align:middle;
}

.select-tip {
    background: url(../images/qmcheckout/select-tip.gif) no-repeat center center;
    width:19px; height:20px;
    display:block;
    position: absolute;
    right:37px; top:1px;
}

.field input {margin:0; display:inline;zoom:1;}
.field .f-left {
    padding-right: 9px;
}

.help {
    color:#8d8d8d;
    font-size:10px;
    margin:0;padding:0;
    line-height: 13px;
}

::-webkit-input-placeholder {
    color: #888;
    font:normal 14px arial, helvetica, sans-serif;
}

:-moz-placeholder {
    color: #888;
    font:normal 14px arial, helvetica, sans-serif;
}

.placeholder {
    color: #888;
    font:normal 14px arial, helvetica, sans-serif;
}
.clear {clear:both;float:none !important; font-size:1px;height:1px;line-height:1px}
.w-229 {width:229px !important}
.w-30  {width:30px !important}
.w-244 {width:244px !important}
.fs-12 {font-size: 12px !important}
.no-mr {padding-right:0 !important}
.sp-methods {margin:0}
.sp-methods label {
    font-weight: normal;
    color:#000;
}
.loading{
    background:url(../images/qmcheckout/loader.gif) no-repeat 50% 50% !important;
    opacity: 0.5;
}
.shipping-methods {
    min-height:80px;
    max-height:150px;
}
.input-loading { background:url(../images/qmcheckout/select-loader.gif) no-repeat 228px center !important }
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
  z-index: 200;
  _height: 192px;
  max-height: 192px; max-width: 312px;
  overflow: auto;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:15px; line-height: 16px;
  cursor:pointer;
}
#payment-methods h2 {
    background-image:none;
    padding-left:0;
}
#payment-methods .input-text {
    width:230px
}

#payment-methods select {
    width:235px;
}

#payment-methods .sp-methods select.year {
    width:97px !important;
}

#payment-methods .sp-methods select.month {
    width:129px !important;
}
#easyco-agreements label {
    font-weight: normal;
    font-size: 12px
}
#easyco-agreements .popup {
    right: 235px; bottom: -27px;
    width:440px;
}
#easyco-agreements .popup-content {
    max-height:500px;
    overflow:auto;
}

#easyco-agreements .popup-arrow {
    background: url(../images/qmcheckout/popup_arrow-white.gif) no-repeat 0 0;
    height:19px; width:10px;
    right:-10px; left:auto;
    bottom:24px; top: auto;
}
#easyco-agreements .validation-advice {
    width:125px;
    margin-left:15px;
}

input.disabled { background:#f6f6f6 !important; color:#bbb !important }
#checkout-block input.input-street {
    width:309px;
}
#payment-methods {
    position:relative;
    zoom:1;
}
#payment-popup {
    left:307px; top: -14px;
    min-width:300px; max-width:500px;
    width:auto;
    background:#fff;
    min-height:200px;
    _height:200px;
}
#payment-popup .popup-content {
    max-height:420px;
}
#payment-popup.loading {
    background:#fff url(../images/qmcheckout/loader.gif) no-repeat 50% 50% !important
}
#payment-popup iframe {min-width:375px;min-height:330px;border:0;}
#payment-methods .popup-heading h2 {color:#0A263C}
.cart .totals .checkout-types li {margin:0}
.total-field {
    text-align:center;
    font-size:12px;
    color: #555;
    margin: 5px 0 5px 18px;
}

.ontext{
    margin-right:116px;
}

#place-order {
    margin: 15px 0;
}
#checkout-block .baloon {
    background-color:#EDF7FD;
    top: -65px;   left: 0;
    height: 42px; width: 185px;
    overflow:visible;
    font-size:12px;
}
#checkout-block .baloon .popup-arrow {
    background: url(../images/qmcheckout/popup_arrow-blue.gif) no-repeat 0 0;
    bottom: -10px; top: auto;
    left: 25px;
}
#checkout-block .note {
    font-size: 10px;
    color:#666;
    text-align:right;
}
.process {
    display: inline-block;
    width: 20px; height: 20px;
    vertical-align: middle;
}
.total-field .note {
    font-size: 10px;
    color: #666;
    display: none;
}


#discount-coupon-note {
    display: block;
}
#discount-coupon-note .input-text {
    width: 190px;
    height:34px;
}
#discount-coupon-note .label {
    margin-bottom: 5px;
}
#discount-coupon-note .validation-advice {
    display: none;
}
.floating-popup-outer {
    width: 100%;
}
.cart-holder .floating-popup-inner {
    font-size: 12px;
    line-height: 1;
    width: 215px;
}
.floating-popup-error{
    width:250px;
    margin-left: 8px;
}

.cart-holder .floating-popup-inner p:last-child {
    margin-bottom: 0;
}
.cart-holder .floating-popup-inner.arrow-left {
    box-shadow: -4px 0px 0px rgb(0, 138, 204);
    border: 1px solid #008ACC;
    border-radius: 3px;
    padding-left: 15px;
}
.floating-popup-inner.arrow-left:after {
    border-right-color: transparent;
}
.cart-holder .floating-popup-inner.arrow-left:before {
    right: 101%;
    top:50%;
    content: "";
    position: absolute;
    border: 10px solid transparent;
    display: block;
    border-right-color: #08c;
}
.input-text-holder {
    display: inline-block;
    position: relative;
    width:100%;
}
.close-password-field {
    position: absolute;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background:url(../images/btn_remove.gif) 50% 50% no-repeat;
    right: 0;
    top: 0;
    display: none;
}

.ui-spinner{
    overflow: inherit!important;
    margin-right: 2px;
  display: inline-block;
  vertical-align: middle;
  height: 38px!important;
  width: 35px !important;
  font-size: 14px;
  text-align: center;
  color: #08c;
  border-color: #e1e1e1;
}

