<?xml version="1.0"?>
<config>
    <modules>
        <QM_OneclickOrder>
            <version>0.2.7</version>
        </QM_OneclickOrder>
    </modules>
    <global>
        <resources>
            <qmoneclickorder_setup>
                <setup>
                    <module>QM_OneclickOrder</module>
                    <class>QM_OneclickOrder_Model_Resource_Setup</class>
                </setup>
            </qmoneclickorder_setup>
        </resources>
        <blocks>
            <qmoneclickorder>
                <class>QM_OneclickOrder_Block</class>
            </qmoneclickorder>
        </blocks>
        <helpers>
            <qmoneclickorder>
                <class>QM_OneclickOrder_Helper</class>
            </qmoneclickorder>
        </helpers>
        <models>
            <qmoneclickorder>
                <class>QM_OneclickOrder_Model</class>
                <resourceModel>qmoneclickorder_resource</resourceModel>
            </qmoneclickorder>
            <qmoneclickorder_resource>
                <class>QM_OneclickOrder_Model_Resource</class>
                <entities>
                    <order>
                        <table>qmoneclickorder_order</table>
                    </order>
                    <order_store>
                        <table>qmoneclickorder_order_store</table>
                    </order_store>
                </entities>
            </qmoneclickorder_resource>
        </models>
        <template>
            <email>
                <qmoneclickorder_notifications_email_template translate="label" module="qmoneclickorder">
                    <label>QM: New Order Notification</label>
                    <file>qmoneclickorder/order_request.html</file>
                    <type>html</type>
                </qmoneclickorder_notifications_email_template>
            </email>
        </template>
        <events>
            <admin_system_config_changed_section_qmoneclickorder>
                <observers>
                    <qmoneclickorder_config_save>
                        <type>singleton</type>
                        <class>qmoneclickorder/config_observer</class>
                        <method>changeProductAttrDefault</method>
                    </qmoneclickorder_config_save>
                </observers>
            </admin_system_config_changed_section_qmoneclickorder>
        </events>
    </global>

    <frontend>
        <routers>
            <qmoneclickorder>
                <use>standard</use>
                <args>
                    <module>QM_OneclickOrder</module>
                    <frontName>oneclickorder</frontName>
                </args>
            </qmoneclickorder>
        </routers>
        <layout>
            <updates>
                <qmoneclickorder>
                    <file>qmoneclickorder.xml</file>
                </qmoneclickorder>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_OneclickOrder>
                    <files>
                        <default>QM_OneclickOrder.csv</default>
                    </files>
                </QM_OneclickOrder>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <qmoneclickorder>
                    <file>qmoneclickorder.xml</file>
                </qmoneclickorder>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_OneclickOrder>
                    <files>
                        <default>QM_OneclickOrder.csv</default>
                    </files>
                </QM_OneclickOrder>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <QM_OneclickOrder before="Mage_Adminhtml">QM_OneclickOrder_Adminhtml</QM_OneclickOrder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <qmoneclickorder>
            <general>
                <enabled>0</enabled>
                <enable_ajax>0</enable_ajax>
                <enable_confirmation>0</enable_confirmation>
                <confirmation_text>Thanks!</confirmation_text>
                <insert_selector>.add-to-cart</insert_selector>
                <show_telephone>1</show_telephone>
                <customer_groups>0,1,2,3</customer_groups>
            </general>
            <notifications>
                <email_template>qmoneclickorder_notifications_email_template</email_template>
            </notifications>
        </qmoneclickorder>
    </default>
</config>
