<?xml version="1.0"?>
<config>
  <modules>
    <Meridian_CustomEmail>
      <version>0.1.0</version>
    </Meridian_CustomEmail>
  </modules>
  <global>
    <helpers>
      <customemail>
        <class>Meridian_CustomEmail_Helper</class>
      </customemail>
    </helpers>
	<models>
	  <customemail>
		<class>Meridian_CustomEmail_Model</class>
		<resourceModel>customemail_mysql4</resourceModel>
	  </customemail>
			<sales>
				<rewrite>
					<order>Meridian_CustomEmail_Model_Sales_Order</order>
				</rewrite>
			</sales>
	</models>
  </global>
</config> 