<?xml version="1.0"?>
<config>
    <modules>
        <QM_Checkout>
            <version>0.8.0</version>
        </QM_Checkout>
    </modules>
    <global>
        <blocks>
            <qmcheckout>
                <class>QM_Checkout_Block</class>
            </qmcheckout>
        </blocks>
        <helpers>
            <qmcheckout>
                <class>QM_Checkout_Helper</class>
            </qmcheckout>
        </helpers>
        <models>
            <qmcheckout>
                <class>QM_Checkout_Model</class>
                <resourceModel>qmcheckout_resource</resourceModel>
            </qmcheckout>
            <qmcheckout_resource>
                <class>QM_Checkout_Model_Resource</class>
            </qmcheckout_resource>
        </models>
        <resources>
            <qmcheckout_setup>
                <setup>
                    <module>QM_Checkout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </qmcheckout_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <qmcheckout>
                <use>standard</use>
                <args>
                    <module>QM_Checkout</module>
                    <frontName>qm_order</frontName>
                </args>
            </qmcheckout>
        </routers>
        <layout>
            <updates>
                <qmcheckout>
                    <file>qmcheckout.xml</file>
                </qmcheckout>
            </updates>
        </layout>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <qmcheckout>
                        <class>qmcheckout/observer</class>
                        <method>collectTotalsBefore</method>
                    </qmcheckout>
                </observers>
            </sales_quote_collect_totals_before>
            <checkout_type_onepage_save_order>
                <observers>
                    <qmcheckout>
                        <class>qmcheckout/observer</class>
                        <method>addOrderComment</method>
                    </qmcheckout>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_submit_all_after>
                <observers>
                    <qmcheckout>
                        <class>qmcheckout/observer</class>
                        <method>tryToProcessOrder</method>
                    </qmcheckout>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <default>
        <checkout>
            <easyco>
                <default_country>UA</default_country>
                <default_region></default_region>
                <default_city></default_city>
                <use_default_country>1</use_default_country>
                <use_zip_code>0</use_zip_code>
                <password_type>field</password_type>
                <location_type>few</location_type>
                <password_type>generate</password_type>
                <show_build_fields>0</show_build_fields>
                <show_newsletter>unchecked</show_newsletter>
                <newsletter_send_request>1</newsletter_send_request>
                <newsletter_send_success>1</newsletter_send_success>
                <shipping_dependent_sections>totals</shipping_dependent_sections>
                <payment_dependent_sections>totals</payment_dependent_sections>
            </easyco>
        </checkout>
        <shipping>
            <option>
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
    </default>
</config>
