<?xml version="1.0"?>
<config>
  <modules>
    <Meridian_PaymentCard>
      <version>0.1.0</version>
    </Meridian_PaymentCard>
  </modules>
  <global>
    <blocks>
      <paymentcard>
        <class>Meridian_PaymentCard_Block</class>
      </paymentcard>
    </blocks>
    <helpers>
      <paymentcard>
        <class>Meridian_PaymentCard_Helper</class>
      </paymentcard>
    </helpers>
    <models>
      <paymentcard>
        <class>Meridian_PaymentCard_Model</class>
      </paymentcard>
    </models>
    <resources>
      <paymentcard_setup>
        <setup>
          <module>Meridian_PaymentCard</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </paymentcard_setup>
      <paymentcard_write>
        <use>core_write</use>
      </paymentcard_write>
      <paymentcard_read>
        <use>core_read</use>
      </paymentcard_read>
    </resources>

  </global>
  <default>
    <payment>
      <paymentcard>
        <active>1</active>
        <model>paymentcard/paymentmethod</model>
        <order_status>processing</order_status>
        <title>Cash On Delivery</title>
      </paymentcard>
    </payment>
  </default>
</config>