<?xml version="1.0"?>
<config>
    <modules>
        <QM_DeveloperTools>
            <version>0.1.1</version>
            <title>Developer Tools</title>
        </QM_DeveloperTools>
    </modules>
    <global>
        <models>
            <qm_devtools>
                <class>QM_DeveloperTools_Model</class>
                <resourceModel>qm_devtools_resource</resourceModel>
            </qm_devtools>
            <qm_devtools_resource>
                <class>QM_DeveloperTools_Model_Resource</class>
                <entities>
                    <conflict>
                        <table>extension_conflict</table>
                    </conflict>
                </entities>
            </qm_devtools_resource>
        </models>
        <blocks>
            <qm_devtools>
                <class>QM_DeveloperTools_Block</class>
            </qm_devtools>
        </blocks>
        <helpers>
            <qm_devtools>
                <class>QM_DeveloperTools_Helper</class>
            </qm_devtools>
        </helpers>
        <resources>
            <qm_devtools_setup>
                <setup>
                    <module>QM_DeveloperTools</module>
                </setup>
            </qm_devtools_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <devtools>
                <use>standard</use>
                <args>
                    <module>QM_DeveloperTools</module>
                    <frontName>devtools</frontName>
                </args>
            </devtools>
        </routers>
        <layout>
            <updates>
                <devtools>
                    <file>qm_devtools.xml</file>
                </devtools>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <devtools before="Mage_Adminhtml">QM_DeveloperTools_Adminhtml</devtools>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <devtools>
                    <file>qm_devtools.xml</file>
                </devtools>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_DeveloperTools>
                    <files>
                        <default>QM_DeveloperTools.csv</default>
                    </files>
                </QM_DeveloperTools>
            </modules>
        </translate>
    </adminhtml>
    <stores>
        <default>
            <web>
                <routers>
                    <standard>
                        <area>frontend</area>
                        <class>QM_DeveloperTools_Controller_Router_Standard</class>
                    </standard>
                </routers>
            </web>
        </default>
    </stores>
    <default>
        <web>
            <routers>
                <standard>
                    <area>frontend</area>
                    <class>QM_DeveloperTools_Controller_Router_Standard</class>
                </standard>
            </routers>
        </web>
        <devtools>
            <developertoolbar>
                <enabled>1</enabled>
            </developertoolbar>
            <storemaintenance>
                <enabled>0</enabled>
                <allow_frontend_for_admins>1</allow_frontend_for_admins>
                <allowed_ips>127.0.0.1</allowed_ips>
                <maintenance_page><![CDATA[<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html><head><title>Maintenance</title><style type="text/css"><!--*{margin: 0px;passing: 0px;}body{background-color: #222222;color: #DDDDDD;font-family: sans-serif;margin-top: 350px;}h1{margin-bottom: 20px;margin-left: 0px;}h2{margin-left: 494px;font-size: 1.6em;}.block{padding: 25px;background-color: #555555;}.centered{margin-left: auto;margin-right: auto;width: 800px;}--></style></head><body><div class="block"><div class="centered"><h1>we are sorry but this store is down for maintenance</h1><h2>please try again later ...</h2></div></div></body></html>]]></maintenance_page>
                <log_verbosity>1</log_verbosity>
                <log_file>maintenance.log</log_file>
            </storemaintenance>
        </devtools>
    </default>
</config>