<?xml version="1.0"?>
<config>
    <modules>
        <QM_AdvancedFeedback>
            <version>0.3.0</version>
        </QM_AdvancedFeedback>
    </modules>
    <global>
        <resources>
            <qmadvfeedback_setup>
                <setup>
                    <module>QM_AdvancedFeedback</module>
                    <class>QM_AdvancedFeedback_Model_Resource_Setup</class>
                </setup>
            </qmadvfeedback_setup>
        </resources>
        <blocks>
            <qmadvfeedback>
                <class>QM_AdvancedFeedback_Block</class>
            </qmadvfeedback>
        </blocks>
        <helpers>
            <qmadvfeedback>
                <class>QM_AdvancedFeedback_Helper</class>
            </qmadvfeedback>
        </helpers>
        <models>
            <qmadvfeedback>
                <class>QM_AdvancedFeedback_Model</class>
                <resourceModel>qmadvfeedback_resource</resourceModel>
            </qmadvfeedback>
            <qmadvfeedback_resource>
                <class>QM_AdvancedFeedback_Model_Resource</class>
                <entities>
                    <callback>
                        <table>qmadvfeedback_callback</table>
                    </callback>
                    <consultation>
                        <table>qmadvfeedback_consultation</table>
                    </consultation>
                    <callback_store>
                        <table>qmadvfeedback_callback_store</table>
                    </callback_store>
                    <consultation_store>
                        <table>qmadvfeedback_consultation_store</table>
                    </consultation_store>
                </entities>
            </qmadvfeedback_resource>
        </models>
        <template>
            <email>
                <callback_email_template>
                    <label>Callback</label>
                    <file>callback_email.html</file>
                    <type>html</type>
                </callback_email_template>
                <consultation_email_template>
                    <label>Consultation</label>
                    <file>consultation_email.html</file>
                    <type>html</type>
                </consultation_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <qmadvfeedback>
                <use>standard</use>
                <args>
                    <module>QM_AdvancedFeedback</module>
                    <frontName>advfeedback</frontName>
                </args>
            </qmadvfeedback>
        </routers>
        <layout>
            <updates>
                <qmadvfeedback>
                    <file>qmadvfeedback.xml</file>
                </qmadvfeedback>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_AdvancedFeedback>
                    <files>
                        <default>QM_AdvancedFeedback.csv</default>
                    </files>
                </QM_AdvancedFeedback>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <qmadvfeedback>
                    <file>qmadvfeedback.xml</file>
                </qmadvfeedback>
            </updates>
        </layout>
        <translate>
            <modules>
                <QM_AdvancedFeedback>
                    <files>
                        <default>QM_AdvancedFeedback.csv</default>
                    </files>
                </QM_AdvancedFeedback>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <QM_AdvancedFeedback before="Mage_Adminhtml">QM_AdvancedFeedback_Adminhtml</QM_AdvancedFeedback>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <qmadvfeedback>
            <callback>
                <enabled>1</enabled>
                <enable_ajax>1</enable_ajax>
                <enable_confirmation>1</enable_confirmation>
                <sender_email_identity>general</sender_email_identity>
                <confirmation_text>(Your HTML here)</confirmation_text>
            </callback>
            <consultation>
                <enabled>1</enabled>
                <enable_ajax>1</enable_ajax>
                <enable_confirmation>1</enable_confirmation>
                <sender_email_identity>general</sender_email_identity>
                <confirmation_text>(Your HTML here)</confirmation_text>
            </consultation>
            <global_settings>
                <phone_mask>+38(099)999-99-99</phone_mask>
            </global_settings>
        </qmadvfeedback>
    </default>
</config>
