<?xml version="1.0"?>
<config>
    <modules>
        <QM_CmsPagestyle>
            <version>0.2.0</version>
        </QM_CmsPagestyle>
    </modules>
    <global>
        <models>
            <qmcmspagestyle>
                <class>QM_CmsPagestyle_Model</class>
            </qmcmspagestyle>
        </models>
        <blocks>
            <qmcmspagestyle>
                <class>QM_CmsPagestyle_Block</class>
            </qmcmspagestyle>
        </blocks>
        <resources>
            <qmcmspagestyle_setup>
                <setup>
                    <module>QM_CmsPagestyle</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </qmcmspagestyle_setup>
        </resources>
        <events>
            <cms_page_render>
                <observers>
                    <qmcmspagestyle_cms_page_render>
                        <type>singleton</type>
                        <class>QM_CmsPagestyle_Model_Observer</class>
                        <method>cmsPageRender</method>
                    </qmcmspagestyle_cms_page_render>
                </observers>
            </cms_page_render>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <qmcmspagestyle>
                    <file>qmcmspagestyle.xml</file>
                </qmcmspagestyle>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <qmcmspagestyle>
                    <file>qmcmspagestyle.xml</file>
                </qmcmspagestyle>
            </updates>
        </layout>
    </adminhtml>
</config>